<% layout("layout") -%>

<div class="row">
	<div class="col-md-4 col-xs-4">
</div>
	<div class="col-md-4 col-xs-4">

		<% if(message.length >0){ %>
			<div class="alert alert-success alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
					
				</button>
				<%= message %>
			</div>
		<% } %>
		<% if(error.length >0){ %>
			<div class="alert alert-danger alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
					
				</button>
				<%= error %>
			</div>
		<% } %>	
		<div>
		<form method="POST">
		<h1 style="text-align: center;">Add a new Category</h1>
			<div class="form-group">
				<label for="name">Name:</label>
				<input class="form-control" type="text" name="name" placeholder="name">
			</div>
			<button class="btn btn-success form-control">Submit</button>
		</form>
			<a href="/product" class="btn btn-default pull-right form-control">Go Back</a>
		</div>

	</div>
</div>