<% layout("layout") -%>

<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="form-group">
  	<a href="/users/new" class="btn btn-success">Add New User</a>
    <!-- <a href="/backup" class="btn btn-success">Backup</a> -->
  </div>
  <div class="form-group">
    <form action="/users" method="GET" class="form-inline">
              <div class="form-group">
                <input type="text" name="search" placeholder="User search...." class="form-control">
                <input type="submit" value="Search" class="btn btn-md btn-default">
              </div>
    </form>
  </div>
<!--   <div class="form-group">
  <form action="/users" method="GET">
    Sort by: <select class="btn btn-default" name="sort">
      <option value="name">Name</option>
      <option value="email">Email</option>
    </select>
    <button class="btn btn-default">Go</button>
    </form>
  </div> -->
  <div class="col-md-12 col-sm-12">
	<table class="table table-bordered" border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Account Type</th>
		<th>SHOW</th>
      </tr>
    </thead>
  	<% users.forEach(function(user){ %>
    <tr>
   
      
        <td><%= user.profile.name %></td>
        <td><%= user.email %></td>
        <% if(user.address === undefined){ %>
        <td>No address</td>
        <% } else{ %>
        <td><%= user.address %></td>
            
        <% } %>
        <% if(user.isAdmin){ %>
        <td>Administrator</td>
        <% } else { %>
          <td>User</td>
        <% } %>
        <td><a class="btn btn-info form-control" href="/users/<%= user._id %>">Show</a></td>
       
    
          </tr>

      <% }); %>
  </table>
  </div>

		</div>
	</div>
</div>

