<div style="box-shadow: none;background-color: rgba(255, 255, 255,0.8);">
<hr>
  <br>
  <div class="container">
  <div class="container">
    <div class="row">
      
    </div>
  </div>
  </div>
    <br>
    <br>
    <br>
    <br>
      <footer class="footer">
      <div class="container">
      <div class="container-fluid" style="background-color: yellow">
      <h6 class="text-center">Website Designed by Cordero, David, Jimenez & Librado.</h6>
      <h6 class="text-center">Copyright © 2018 All Rights Reserved.</h6>
      
      </div>
      </div>
      </footer>
  </div>