<% layout("layout") -%>
  <!-- Inspired by https://codepen.io/transportedman/pen/NPWRGq -->

<div class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
    </div>
</div>

<!-- Remeber to put all the content you want on top of the slider below the slider code -->

<div class="row">
<div class="col-lg-4 col-md-4"></div>
	<div class="col-lg-4 col-md-4">

		<% if(message.length >0){ %>
			<div class="alert alert-danger alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
					
				</button>
				<%= message %>
			</div>
		<% } %>
		<% if(signin.length >0){ %>
			<div class="alert alert-danger alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
					
				</button>
				<%= signin %>
			</div>
		<% } %>
	</div>
</div>

		<div class="row">
		<div class="col-md-4 col-sm-4"></div>
		<div class="col-md-4 col-sm-4">
		<div style="padding-top: 50px;">
		<form action="/login" method="POST" class="form-signin" style="margin: 50px auto; box-shadow: none; border-radius: 10px; border:1px solid black; background-color: rgb(96, 104, 219, 0.9);">
		<center><IMG style="margin: auto auto; max-height: 90px; display:inline;" SRC="icpep.png"/></center>
		<h1 class="form-signin-heading text-muted" style-"display:inline;">LOG-IN</h1>
				<input class="form-control" type="text" name="email" placeholder="EMAIL">
			<input class="form-control" type="password" name="password" placeholder="PASSWORD">
			<button id="pink" class="form-control">LOG IN</button>
		</form>
		</div>
		</div>
		</div>
