<% layout("layout") -%>

<div class="jumbotron" id="navbar-gap">
	<div class="container">
		<div class="row">
		<div class="col-md-4 col-xs-4"></div>
		<div class="col-md-4 col-xs-4"><img src="http://hershoppe-ph.com/wp-content/uploads/2017/03/hershoppe-logo1-1.png"></div>
		<div class="col-md-4 col-xs-4"></div>
		
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	<hr>
	<div>
		<h1 class="text-center">ABOUT US</h1>
	</div>
		<hr>
	<p><strong>HerShoppe</strong> started as an online clothing brand established in the year 2010. It offers variety of styles and trends for women. As the customers’ demand went high, Her Shoppe built a physical showroom for wider selection of clothing.</p>
	<br>
	<br>
	<strong>As of the moment, it has two branches: </strong>
	<br>
	<p><strong><a style="color:#EA1B82;" href="https://www.instagram.com/hershoppeph/">@hershoppeshowroom</a><strong> - located at <strong>88A Mabini St. Guinhawa, Malolos, Bulacan.</strong>
	<br>
	<strong><a style="color:#EA1B82;">@hershoppeshowroom_pampanga</a><strong> – located at MYS Building, San Agustin, City of San Fernando, Pampanga
	</p>
	</div>
</div>