<% layout("layout") -%>

<div class="container">
<h1>PAYMENT METHODS</h1>
<hr>
<ul>
	<li>Choose any of our payment options found below.Reservation is valid until 2 business days from placement of order. Please settle your payment within this period to avoid automatic cancellation of your reservation.</li>
	<li>If you need assistance, please do not hesitate to contact us at <a id="pink-hover" href=""><strong>hershoppe_showroom@yahoo.com.ph<strong></a>.</li>
</ul>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="panel-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a id="pink-hover" class="btn" data-toggle="collapse" href="#collapse1"><span class="glyphicon glyphicon-triangle-bottom"> </span> BDO SAVINGS ACCOUNT</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
      	<strong style="color:#EA1B82;">Account name: Mary Rosalyn Tan</strong><br>
      	<strong style="color:#EA1B82;">Account #: 5410182201</strong><br>
      	<br>
      	<ul>
      		<li>Kindly deposit the exact amount as reflected on your invoice.</li>
      		<li>Please note that BDO Branches outside of Metro Manila may charge a service fee. Please keep the transaction slip with you for record purposes.</li>
      		<li>For Online Fund Transfer you may use the same bank details as above.</li>
      		<li><strong>Important: </strong>After completing your payment, please send us an email through <a>hershoppe_showroom@yahoo.com.ph</a> with the subject CONFIRMATION OF PAYMENT and attached the photo of deposit slip. </li>
      	</ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>