<% layout("layout") -%>

<div class="container">
	<h1>PRIVACY POLICY</h1>
	<div class="entry-content">
		<p style="text-align: justify;"><span style="color: #171515;">This privacy policy has been compiled to better serve those who are concerned with how their &#8216;Personally identifiable information&#8217; (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</span></p>
<hr />
<p style="text-align: justify;"><strong>What personal information do we collect from the people that visit our blog, website or app?</strong></p>
<p style="text-align: justify;"><span style="color: #171515;">When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number, credit card information or other details to help you with your experience.</span></p>
<p style="text-align: justify;"><strong>When do we collect information?</strong></p>
<p style="text-align: justify;"><span style="color: #171515;">We collect information from you when you place an order, fill out a form or enter information on our site.</span></p>
<p style="text-align: justify;"><strong>How do we use your information?</strong></p>
<p style="text-align: justify;"><span style="color: #171515;">We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</span></p>
<ul style="text-align: justify;">
<li><span style="color: #171515;">To quickly process your transactions.</span></li>
</ul>
<p style="text-align: justify;"><strong>How do we protect visitor information?</strong></p>
<p style="text-align: justify;"><span style="color: #171515;">Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.</span></p>
<p style="text-align: justify;"><span style="color: #171515;">We use regular Malware Scanning.</span></p>
<p style="text-align: justify;"><span style="color: #171515;">Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</span></p>
<p style="text-align: justify;"><span style="color: #171515;">We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.</span></p>
<p style="text-align: justify;"><span style="color: #171515;">All transactions are processed through a gateway provider and are not stored or processed on our servers.</span></p>
<p style="text-align: justify;"><strong>Do we use &#8216;cookies&#8217;?</strong></p>
<p style="text-align: justify;"><span style="color: #171515;">Yes. Cookies are small files that a site or its service provider transfers to your computer&#8217;s hard drive through your Web browser (if you allow) that enables the site&#8217;s or service provider&#8217;s systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</span><br />
<span style="color: #171515;"> <strong>We use cookies to:</strong></span></p>
<ul style="text-align: justify;">
<li><span style="color: #171515;">Help remember and process the items in the shopping cart.</span></li>
<li><span style="color: #171515;">Understand and save user&#8217;s preferences for future visits.</span></li>
</ul>
<p style="text-align: justify;"><span style="color: #171515;">You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser&#8217;s Help menu to learn the correct way to modify your cookies.</span></p>
<p style="text-align: justify;"><span style="color: #171515;">If you disable cookies off, some features will be disabled It won&#8217;t affect the user&#8217;s experience that make your site experience more efficient and some of our services will not function properly.</span></p>
<p style="text-align: justify;"><span style="color: #171515;">However, you can still place orders.</span></p>
<p style="text-align: justify;"><strong>Third-party disclosure</strong></p>
<p style="text-align: justify;"><span style="color: #171515;">We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it&#8217;s release is appropriate to comply with the law, enforce our site policies, or protect ours or others&#8217; rights, property, or safety.</span></p>
<p style="text-align: justify;"><span style="color: #171515;">However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</span></p>
<p style="text-align: justify;"><strong>Third-party links</strong></p>
<p style="text-align: justify;"><span style="color: #171515;">We do not include or offer third-party products or services on our website.</span></p>
<p style="text-align: justify;"><strong>CAN SPAM Act</strong></p>
<p style="text-align: justify;"><span style="color: #171515;">The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</span></p>
<p style="text-align: justify;"><span style="color: #171515;"><strong>We collect your email address in order to:</strong></span><br />
<span style="color: #171515;"> <strong>To be in accordance with CANSPAM we agree to the following:</strong><strong><br />
If at any time you would like to unsubscribe from receiving future emails, you can email us at</strong></span></p>
<p style="text-align: justify;"><span style="color: #171515;">and we will promptly remove you from <strong>ALL</strong> correspondence.</span></p>
<p style="text-align: justify;"><strong>Contacting Us</strong></p>
<p style="text-align: justify;"><span style="color: #171515;">If there are any questions regarding this privacy policy you may contact us using the information below.</span></p>
<p style="text-align: justify;"><span style="color: #171515;">88A Mabini St. Guinhawa, </span><span style="color: #171515;">Malolos, Bulacan 3000, </span><span style="color: #171515;">Philippines</span></p>
<p style="text-align: justify;"><strong>EMail Us: <a href="mailto:hershoppe_showroom@yahoo.com.ph">hershoppe_showroom@yahoo.com.ph</a></strong></p>
			</div>
</div>