<% layout("layout") -%>

	<div class="container">
	<h1>RETURN POLICY</h1>	
	<hr>
		<p><span style="color: #171515;">Please contact us through <strong><a id="pink-hover" href="mailto:hershoppe_showroom@yahoo.com.ph">hershoppe_showroom@yahoo.com.ph</a></strong> BEFORE sending back a shipment to us. This will allow us to confirm that we have the inventory in stock and can be better prepared for the arrival of your shipment with faster processing.  </span></p>
	<p><strong>RETURN AND EXCHANGE POLICY</strong></p>
	<p><span style="color: #171515;">We want you to be completely happy with your purchase. Your unworn, unused item(s) may be returned or exchanged within 3 days of ship date. Tags should still be on garments. Please note that items received after 3 days of ship date will only be eligible for an exchange. Any defective item or incorrect shipment will be replaced at no shipping charge to you. To be eligible to return, your items must be unused, with tags and in the same condition that you received it.</span></p>
	<p><strong>Exchanges:</strong></p>
	<p><span style="color: #171515;">You can return unworn, unused items within 3 days of ship date for an exchange. Tags should still be on garments. We will send you the requested item at no shipping charge to you. </span></p>
	<p><span style="color: #171515;"> The customer is responsible for all return freight charges, including duty and tax, if applicable. We cannot accept C.O.D. shipments. For your protection, we suggest all returns be sent back to us through a traceable carrier. Most major carriers offer tracking information; however, domestic and international parcel packages are typically not traceable. </span></p>
	<p><span style="color: #171515;"> Please allow 5 business days after receipt in our warehouse for your exchange to be processed and shipped to you. </span></p>
	<p><strong>Returns:</strong></p>
	<p><span style="color: #171515;">You can also return unworn, unused items within 60 days of ship date for a refund, less the original shipping and handling fees. Tags should still be on garments. The refund will include the retail price paid, plus any applicable sales tax, to the credit card on the original order. Please note that items received after 3 days of ship date will only be eligible for an exchange.. </span></p>
	<p><span style="color: #171515;"> The customer is responsible for all return freight charges, including duty and tax if applicable. We cannot accept C.O.D. shipments. For your protection, we suggest all returns be sent back to us through a traceable carrier. Most major carriers offer tracking information; however, domestic and international parcel packages are typically not traceable. </span></p>
	<p><span style="color: #171515;"> Please allow 10 business days after receipt in our warehouse for your return and refund to be processed. </span></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>