<% layout("layout") -%>

<div class="jumbotron" id="navbar-gap">
	<div class="container">
		<div class="row">
		<div class="col-md-4 col-xs-4"></div>
		<div class="col-md-4 col-xs-4"><img src="http://hershoppe-ph.com/wp-content/uploads/2017/03/hershoppe-logo1-1.png"></div>
		<div class="col-md-4 col-xs-4"></div>
		
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	<hr>
	<div>
		<h1 class="text-center">SHIPPING POLICY</h1>
	</div>
		<hr>
	<p>
		<strong>TURNAROUND</strong><br>
		All orders are shipped within 1 to 5 days <br>
		<strong>Monday</strong> to <strong>Friday</strong> from <strong>9:00AM</strong> - <strong>5:00PM</strong>
		<br>
		<br>
		<strong>CARRIERS</strong><br>
		We use the following carrier to deliver our orders: <br>
		<ol>
			<li>JRS</li>
			<li>LBC</li>
		</ol>
		<br>
		<strong>ORDER TRACKING</strong><br>
		If a tracking number is provided by the shipping carrier, we will update your order with the tracking information.
		<br>
		<br>
		<strong>SHIPPING RATES</strong>
		<br>
		Shipping rates will depend on the quantity of items bought and the location where it will be shipped.
	</p>
	</div>
</div>